# Binaries
ccu-addon-mui-server
ccu-addon-mui-server-arm
ccu-addon-mui-server-local
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Environment files with secrets
.env
